<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GuitarStore</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="Counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClientTest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ClientTest
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Catalog/Electric">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Electric
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Catalog/Bass">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bass
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Catalog/Acoustic">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Acoustic
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Catalog/Accessories">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ac­cessor­ies
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
            </NavLink>
        </div>
    </nav>
</div>

